CHATWOOT_INBOX_IDENTIFIER=your_inbox_identifier
CHATWOOT_BASE_URL=https://your-chatwoot.example.com/

CHATWOOT_IDENTIFIER=
CHATWOOT_IDENTIFIER_HASH=
CHATWOOT_NAME=
CHATWOOT_EMAIL=
CHATWOOT_PHONE_NUMBER=
